@mixin formatResize($scale) {
	.common-pull-scroll{
		position: relative;
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;
		overflow:auto;
		._dropload{
			&._pull{
				position: absolute;
				top: -150px / $scale;
				left: 0;
				right: 0;
				padding-top: 90px / $scale;
				height: 150px / $scale;
				line-height: 60px / $scale;
				width: 100%;
				font-size: 24px / $scale;
				text-align: center;
				/* 开启硬件加速 */
				-webkit-transform:translateZ(0);
				transform:translateZ(0);
			}
			&._scroll{
				overflow: hidden;
				font-size: 24px / $scale;
				/* 开启硬件加速 */
				-webkit-transform:translateZ(0);
				transform:translateZ(0);
				text-align: center;
			}
			._status{
				text-align: center;
			}
			._status ._loading{
				display: inline-block;
				height: 30px / $scale;
				width: 30px / $scale;
				border-radius: 100%;
				margin: 12px / $scale;
				border: 4px / $scale solid #666;
				border-bottom-color: transparent;
				vertical-align: middle;
				-webkit-animation: rotate 0.75s linear infinite;
				animation: rotate 0.75s linear infinite;
			}
		}
	}
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@include formatResize(1);
.g-init-echart {
	@include formatResize(2);
}

/*end*/