@charset "utf-8";
@mixin formatResize($scale) {
	// toast
	.am-toast {
		font-size: 28px / $scale;
		z-index: 3999 !important;
	}
	.am-toast-notice-content .am-toast-text {
		min-width: 1.2rem / $scale;
		border-radius: 6px / $scale;
		line-height: 1.5;
		padding: 18px / $scale 30px / $scale;
	}
	.am-toast-notice-content .am-toast-text.am-toast-text-icon {
		border-radius: 10px / $scale;
		padding: 30px / $scale 30px / $scale;
	}
	.am-toast-notice-content .am-toast-text.am-toast-text-icon .am-toast-text-info {
		margin-top: 12px / $scale;
	}
	// icon
	.am-icon {
		width: 44px / $scale;
		height: 44px / $scale;
	}
	.am-icon-xxs {
		width: 30px / $scale;
		height: 36px / $scale;
	}
	.am-icon-xs {
		width: 36px / $scale;
		height: 36px / $scale;
	}
	.am-icon-sm {
		width: 42px / $scale;
		height: 42px / $scale;
	}
	.am-icon-md {
		width: 44px / $scale;
		height: 44px / $scale;
	}
	.am-icon-lg {
		width: 72px / $scale;
		height: 72px / $scale;
	}
	// tab
	.am-tabs-bar .am-tabs-prevpage:before {
		width: 118px / $scale;
	}
	.am-tabs-bar .am-tabs-nextpage:after {
		width: 118px / $scale;
	}
	.am-tabs-bar .am-tabs-tab {
		font-size: 30px / $scale;
		height: 87px / $scale;
		line-height: 87px / $scale;
	}
	.am-tabs-ink-bar {
		height: 4px / $scale;
	}
	.am-init-fixed .am-tabs-bar{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 8;
	}
	// badge
	.am-badge-text{
		top: -12px / $scale;
		height: 36px / $scale;
		line-height: 36px / $scale;
		min-width: 18px / $scale;
		border-radius: 24px / $scale;
		padding: 0 10px / $scale;
		text-align: center;
		font-size: 24px / $scale;
	}
	.am-badge-dot{
		top: -8px / $scale;
		height: 16px / $scale;
		width: 16px / $scale;
	}
	.am-badge-dot-large{
		height: 32px / $scale;
		width: 32px / $scale;
	}
	.am-badge-corner {
		width: 160px / $scale;
		padding: 16px / $scale;
		right: -64px / $scale;
		top: 16px / $scale;
		font-size: 30px / $scale;
	}
	// modal
	.am-modal.am-modal-transparent .am-modal-content {
		border-radius: 14px / $scale;
		padding-top: 30px / $scale;
	}
	.am-modal.am-modal-transparent .am-modal-content .am-modal-body {
		padding: 0 30px / $scale 30px / $scale;
	}
	.am-modal-title {
		font-size: 36px / $scale;
	}
	.am-modal-header {
		padding: 12px / $scale 30px / $scale 30px / $scale;
	}
	.am-modal-close {
		right: 30px / $scale;
		height: 42px / $scale;
		width: 42px / $scale;
	}
	.am-modal-close-x {
		width: 30px / $scale;
		height: 30px / $scale;
	}
	.am-modal-body {
		font-size: 28px / $scale;
	}
	.am-modal.am-modal-operation .am-modal-content {
		border-radius: 14px / $scale;
	}
	.am-modal.am-modal-operation .am-modal-content .am-modal-button {
		padding-left: 30px / $scale;
	}
	.am-modal-button-group-h .am-modal-button {
		font-size: 32px / $scale;
		height: 100px / $scale;
		line-height: 100px / $scale;
	}
	.am-modal-button-group-v .am-modal-button {
		font-size: 32px / $scale;
		height: 100px / $scale;
		line-height: 100px / $scale;
	}
	.am-modal-input:first-child {
		margin-top: 18px / $scale;
		border-top-left-radius: 6px / $scale;
		border-top-right-radius: 6px / $scale;
	}
	.am-modal-input:last-child {
		border-bottom-left-radius: 6px / $scale;
		border-bottom-right-radius: 6px / $scale;
	}
	.am-modal-input input {
		padding: 6px / $scale 0;
	}
	// .am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-header {
	// 	padding: 18px / $scale 48px / $scale 24px / $scale;
	// }
	// .am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-header .am-modal-title {
	// 	font-size: 42px / $scale;
	// }
	// .am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-body {
	// 	font-size: 32px / $scale;
	// 	padding: 0 48px / $scale 30px / $scale;
	// }
	// .am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer {
	// 	padding-bottom: 24px / $scale;
	// }
	// .am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h {
	// 	padding: 0 24px / $scale;
	// }
	// .am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h .am-modal-button {
	// 	margin-left: 6px / $scale;
	// 	padding: 0 30px / $scale;
	// 	height: 96px / $scale;
	// }
	// .am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-v {
	// 	padding: 0 24px / $scale;
	// }
	// .am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-v .am-modal-button {
	// 	padding: 0 30px / $scale;
	// 	margin-left: 6px / $scale;
	// 	height: 96px / $scale;
	// }
	//
	// ...部分添加，不要全部
}
.g-init-echart {
	@include formatResize(2);
}
.am-toast {
	z-index: 3999 !important;
}
// 搜索框
.am-search-synthetic-ph {
	display: none;
	box-sizing: content-box;
}
.am-search-input .am-search-clear {
	top: 15px !important;
	right: 7px !important;
}
.am-search-input {
	border-radius: 28px!important;
}
.slider-decorator-0 {
	bottom: 10px!important;
}
.am-textarea-control textarea {
	font-size: 26px !important;
}
.am-list-item .am-list-line .am-list-extra {
	font-size: 26px !important;
	flex-basis: 60% !important;
}
.am-list-item .am-list-line .am-list-content {
	font-size: 26px !important;
}
.my-radio .am-radio {
  padding: 0.05rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 0.2rem;
  margin-left: 1em;
}
.am-radio.am-radio-checked .am-radio-inner:after {
	position: absolute;
    top: 3px;
    right: 5px;
    z-index: 999;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    content: '';
	background: #56c16d;
}
.am-radio-inner:after {
    position: absolute;
    display: none;
    top: 5px;
    right: 5px;
    z-index: 999;
    width: 16px !important;
    height: 16px !important;
    border-radius: 100% !important;
    content: '';
	background: #56c16d !important;
	border: none !important;
}