/**
 * reset
 */
html {
	font-size: 26px !important;
	/*1rem=100px*/
}
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	border: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/**
	 * 滚动不受阻，激活平滑滚动
	 * ios会和fixed产生bug，比如input
	 */
	/* -webkit-overflow-scrolling: touch;
	overflow-scrolling: touch; */
	/**
	 * 字体样式不模糊
	 */
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	/**
	 * 可以复制粘帖
	 */
	-webkit-user-select: text!important;
	user-select: text!important;
}


/**
 * g-reset
 * 用户初始化元素的类
 */
.g-reset ol,
.g-reset ul,
.g-reset li {
	list-style: none;
}
.g-reset a {
	text-decoration: none;
	color: inherit;
}
.g-reset img {
	vertical-align: middle;
	max-width: 100%;
}
.g-reset .inline {
	display: inline
}
.g-reset i,
.g-reset b,
.g-reset em,
.g-reset span {
	font-weight: normal;
	font-style: normal;
	display: inline-block;
}
.g-hide{
	display: none !important;
}
.g-show{
	display: block !important;
}
.g-opacity{
	opacity: 0.5;
}
/**
 * g-disabled
 * 禁用事件
 */
.g-disabled {
	pointer-events: none;
}
/**
 * disabled
 * 禁用事件
 * 应该不会有冲突
 */
.disabled {
	pointer-events: none;
}
/**
 * g-noanimate
 * 禁用动画
 */
.g-noanimate {
	animation: 0 !important;
	-webkit-animation: 0 !important;
}
/**
 * 文字相关
 */
/**
 * g-oneline
 * 一行文字
 */
.g-text-over{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.g-oneline {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
/**
 * g-twoline
 * 两行文字
 */
.g-twoline {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
/**
 * g-nowrap
 * 一行文字 强制不换行
 */
.g-nowrap {
	white-space: nowrap;
}
/**
 * g-nobreak
 * 单词不换行
 */
.g-nobreak {
	word-break: break-all;
	word-wrap: break-word;
}
/**
 * g-tc
 * 文本居中
 */
.g-tc {
	text-align: center;
}
/**
 * g-tl
 * 文本居左
 */
.g-tl {
	text-align: left;
}
/**
 * g-tr
 * 文本居右
 */
.g-tr {
	text-align: right;
}
/**
 * g-td-lh
 * 文本删除线
 */
.g-td-lh {
	text-decoration: line-through;
}
/**
 * g-td-ul
 * 文本下划线
 */
.g-td-ul {
	text-decoration: underline;
}

/*layout*/
.clearfix:before,
.clearfix:after,
.g-row:before,
.g-row:after {
	display: table;
	content: " ";
}
.clearfix:after,
.g-row:after {
	clear: both;
}
.g-row {
	margin: 0;
	padding: 0;
}
.g-flex {
	display: flex;
	box-sizing: border-box;
}
.g-fd-rr {
	flex-direction: row-reverse;
}
.g-fd-c {
	flex-direction: column;
}
.g-fd-cr {
	flex-direction: column-reverse;
}
.g-jc-sb {
	justify-content: space-between;
}
.g-jc-sa {
	justify-content: space-around;
}
.g-jc-c {
	justify-content: center;
}
.g-jc-fe {
	justify-content: flex-end;
}
.g-ai-c {
	align-items: center;
}
.g-ai-fe {
	align-items: flex-end;
}
.g-fw-w {
	flex-wrap: wrap;
}
.g-ac-fs {
	align-content: flex-start;
}
.g-as-fc {
	align-self: flex-center;
}
.g-as-fd {
	align-self: flex-end;
}
/*gird*/
.g-col {
	flex: 1
}
.g-col-2 {
	flex: 2
}
.g-full {
	flex: 0 0 100%;
}
.g-1of2 {
	flex: 0 0 50%;
}
.g-1of3 {
	flex: 0 0 33.3333%;
}
.g-1of4 {
	flex: 0 0 25%;
}
/*圣杯布局*/
.g-flex-holy {
	display: flex;
	box-sizing: border-box;
	min-height: 100vh;
	flex-direction: column;
}
/*水平垂直对齐*/
.g-flex-cc {
	display: flex;
	justify-content: center;
	align-items: center;
}
.g-flex-ac {
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.g-fr {
	float: right;
}
.g-fl {
	float: left;
}
/**
 * bd 辅助线
 */
.g-br-circle {
	border-radius: 100%;
}
.g-bb {
	border-bottom: 1px solid #efeff4 !important;;
}
.g-bt {
	border-top: 1px solid #efeff4;
}
.g-b-r {
	border-right: 1px solid #efeff4;
}
.g-bs {
	box-shadow: 0px -1px 9.9px 0.1px rgba(0, 0, 0, 0.05);
}

#pages,
[class*="scroll-wrap-content"] {
	overflow: auto;
}
.g-warp-scroll,
[class*="scroll-container"]  {
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	overflow: auto;
	&.__none{
		-webkit-overflow-scrolling: auto;
		overflow-scrolling: auto;
	}
}
@mixin formatResize($scale) {
	/**
	 * bd 辅助线
	 */
	.g-br {
		border-radius: 8px / $scale;
	}
	/**
	 * iconfont
	 * 初始化，无视
	 */
	.iconfont {
		font-size: 32px / $scale;
	}
	/**
	 * g-two-lh
	 * 两行文字 限高
	 */
	.g-two-lh {
		height: 72px / $scale;
		line-height: 36px / $scale;
	}
	/**
	 * g-two-lh
	 * 一行文字 限高
	 */
	.g-one-lh {
		height: 32px / $scale;
		line-height: 32px / $scale;
	}
	/**
	 * line-height
	 */
	.g-lh-44 {
		line-height: 44px / $scale;
	}
	.g-lh-60 {
		line-height: 60px / $scale;
	}
	.g-lh-72 {
		line-height: 72px / $scale;
	}
	.g-lh-80 {
		line-height: 80px / $scale;
	}
	.g-lh-88 {
		line-height: 88px / $scale;
	}
	.g-lh-120 {
		line-height: 120px / $scale;
	}
	/**
	 * font-size
	 */
	.g-fs-10 {
		font-size: 10px / $scale !important;
	}
	.g-fs-20 {
		font-size: 20px / $scale !important;
	}
	.g-fs-22 {
		font-size: 22px / $scale !important;
	}
	.g-fs-24 {
		font-size: 24px / $scale !important;
	}
	.g-fs-26 {
		font-size: 26px / $scale !important;
	}
	.g-fs-28 {
		font-size: 28px / $scale !important;
	}
	.g-fs-30 {
		font-size: 30px / $scale !important;
	}
	.g-fs-32 {
		font-size: 32px / $scale !important;
	}
	.g-fs-34 {
		font-size: 34px / $scale !important;
	}
	.g-fs-36 {
		font-size: 36px / $scale !important;
	}
	.g-fs-40 {
		font-size: 40px / $scale !important;
	}
	.g-fs-45 {
		font-size: 45px / $scale !important;
	}
	.g-fs-50 {
		font-size: 50px / $scale !important;
	}
	.g-fs-60 {
		font-size: 60px / $scale !important;
	}
	.g-fs-70 {
		font-size: 70px / $scale !important;
	}
	.g-fs-80 {
		font-size: 80px / $scale !important;
	}
	.g-fs-90 {
		font-size: 90px / $scale !important;
	}
	.g-fs-100 {
		font-size: 100px / $scale !important;
	}
	/**
	 * 布局辅助
	 */
	.g-pd {
		padding: 20px / $scale;
	}
	.g-pd-btn {
		padding: 10px / $scale 15px / $scale;
	}
	.g-pd-l {
		padding-left: 20px / $scale;
	}
	.g-pd-r {
		padding-right: 20px / $scale;
	}
	.g-pd-lr {
		padding-left: 15px / $scale;
		padding-right: 15px / $scale;
	}
	.g-pd-t {
		padding-top: 20px / $scale;
	}
	.g-pd-b {
		padding-bottom: 20px / $scale;
	}
	.g-pd-tb {
		padding-top: 10px / $scale;
		padding-bottom: 10px / $scale;
	}
	.g-pd-t-10 {
		padding-top: 10px / $scale;
	}
	.g-pd-t-15 {
		padding-top: 15px / $scale;
	}
	.g-m-r {
		margin-right: 10px / $scale;
	}
	.g-m-t {
		margin-top: 10px / $scale;
	}
	.g-m-l {
		margin-left: 20px / $scale;
	}
	.g-m-b {
		margin-bottom: 10px / $scale;
	}
	.g-m-tb {
		margin-top: 10px / $scale;
		margin-bottom: 10px / $scale;
	}
	.g-m-t-20 {
		margin-top: 20px / $scale;
	}
	.g-m-b-20 {
		margin-bottom: 20px / $scale;
	}
	.g-pdr-15 {
		padding-right: 15px / $scale;
	}
	.g-h-600 {
		height: 600px / $scale !important;
		box-sizing: border-box;
		overflow-x: scroll;
	}
	.g-h-300 {
		height: 300px / $scale;
		box-sizing: border-box;
		overflow-x: scroll;
	}
}
.g-h-full {
	height: 100vh
}
.g-h-5 {
	height: 5vh
}
@include formatResize(1);
.g-init-echart {
	@include formatResize(2);
}
