/**
 * scrollbar width
 */

::-webkit-scrollbar {
	width: 4px; // 很有影响
}

::-webkit-scrollbar:horizontal {
	height: 2px;
}


/**
 * scrollbar bg
 */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0);
}


/**
 * Handle
 */

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, .2);
}


/**
 * 背景颜色
 */

[class*="g-bg-"] {
	color: white;
}

[class*="g-bg-"] input {
	color: black;
}

.g-bg-white {
	background: #fff;
	color: inherit;
}
// 浅灰
.g-bg-gray {
	background: #ebebeb;
	color: inherit;
}
// 浅灰
.g-bg-gray-1 {
	background: #f8f8f8;
	color: inherit;
}
// 深灰
.g-bg-deep {
	background: #9c9c9c;
}
// 藏蓝色
.g-bg-db {
	background: #1c1b21;
}

.g-bg-pink {
	background: #fa5a6e;
}
.g-bg-pink-1 {
	background: #fff2ea;
}
.g-bg-orange {
	background: #fe9053;
}

.g-bg-green {
	background: #56c16d;
}


/*购物车全选绿色*/

.g-bg-green-1 {
	background: #06bf04;
}

.g-bg-blue {
	background: #4199eb;
}

.g-bg-blue-1 {
	background: #11ced2;
}

.g-bg-blue-2 {
	background: #5ba4e7;
}

.g-bg-yellow {
	background: #ffcc00;
}
.g-bg-purple{
	background: #c851ea;
}
.g-bg-lg{
	// 从上到下线性渐变：
	background: linear-gradient(#fea05e, #fe5e5e);
}
.g-bg-lg-1{
	// 从上到下线性渐变：
	background: linear-gradient(#b05efe, #7453ff);
}
.g-bg-lgr-pink{ // 粉色
	// 从左到右线性渐变：
	background: linear-gradient(to right, #ff5e9c , #ff5ccc);
}
.g-bg-lgr-pink-1{ // 粉色-橙色
	// 从左到右线性渐变：
	background: linear-gradient(to right, #ff5d97 , #f49b67);
}
.g-bg-lgr-orange{
	// 从左到右线性渐变：
	background: linear-gradient(to right, #ffb8cd , #9f96ef);
}
.g-bg-lgr-orange-1{
	// 从左到右线性渐变：
	background: linear-gradient(to right, #ffbf5d , #ff955b);
}
.g-bg-lgr-orange-2{
	// 从左到右线性渐变：
	background: linear-gradient(to right, #ff955b , #ffbf5d);
}
.g-bg-lgr-purple{ // 紫色
	// 从左到右线性渐变：
	background: linear-gradient(to right, #7487f6 , #8c62e8);
}
.g-bg-lgr-purple-1{ // 紫色
	// 从左到右线性渐变：
	background: linear-gradient(to right, #FF5D9C , #FF5BCC);
}
.g-bg-lgr-purple-2{ // 紫色
	// 从左到右线性渐变：
	background: linear-gradient(to left, #7487f6 , #8c62e8);
}
.g-bg-lgr-blue{ // 蓝色
	// 从左到右线性渐变：
	background: linear-gradient(to right, #42a4fe , #43d4ff);
}
.g-bg-lgr-green{ // 绿色
	// 从左到右线性渐变：
	background: linear-gradient(to right, #38d4ca , #42eab9);
}
.g-bg-lgbr{
	// 从左上到右下线性渐变：
	background: linear-gradient(to bottom right, #ffb8cd , #9f96ef);
}
.g-bg-lgtr{
	// 从左下到右上线性渐变：
	background: linear-gradient(to top right, #ffb8cd , #9f96ef)
}
.g-bg-lgtr1 {
	// 从左下到右上线性渐变：
	background: linear-gradient(to top right, #ff5d97 , #f49b67);
}
.g-bg-rlg{
	background: repeating-linear-gradient(
		120deg,
		#fa5a6e, #fa5a6e 20px,
		#fff 20px, #fff 40px,
		#4199eb 20px, #4199eb 60px,
		#fff 20px, #fff 80px
	) no-repeat;
	height:4px;
}
/**
 * 文字颜色
 */
.g-black {
	color: #333333!important;
}
.g-black-1 {
	color: #000!important;
}
/*一般灰色的文字颜色*/

.g-gray {
	color: #666666!important;
}
.g-gray-1 {
	color: #9b9b9b!important;
}
.g-gray-2 {
	color: #9c9c9c!important;
}
.g-gray-3 {
	color: #bdbdbd!important;
}
.g-gray-4 {
	color: #c5c5c5!important;
}

/*订单里的价格红色*/

.g-pink {
	color: #e53a4a!important;
}


/*代理icon*/

.g-pink-1 {
	color: #fa5a6e!important;
}

.g-white {
	color: #fff!important;
}

.g-orange {
	color: #fe9053!important;
}


/*icon*/

.g-orange-1 {
	color: #fe9256!important;
}
.g-orange-2 {
	color: #f8eaa1!important;
}

/*代理icon*/

.g-blue {
	color: #4199eb!important;
}

.g-blue-1 {
	color: #11ced2!important;
}


/*完成取消*/

.g-blue-2 {
	color: #4199eb!important;
}

.g-green {
	color: #56c16d!important;
}



.g-yellow {
	color: #ffcc00!important;
}


/**
 * 微信内二维码处理 点击区域加大
 */

.g-qrcode {
	padding: 30%;
	height: 100%;
	width: 100%;
	margin-top: -25%;
	margin-bottom: -25%;
}


/**
 * 针对fixed/input不友好情况做处理
 */

.g-relative {
	position: relative!important;
}

.g-absolute {
	position: absolute!important;
}


/**
 * fixed外层这只高宽
 */

.g-reset-fixed {
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


/**
 * 弹出层
 */

.g-bg-fixed { // 背景动画
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	z-index: 10;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	// margin: 0 auto;
	bottom: 0;
	animation: g-fadeEnter .4s ease;
}
.g-fixed-content { // 无动画 底部弹出
	position: fixed;
	width: 100%;
	z-index: 8;
	background: white;
	bottom: 0;
	left: 0;
	right: 0;
	// margin: 0 auto;
}
.g-fixed-content-top { // 无动画 底部弹出
	position: fixed;
	width: 100%;
	z-index: 8;
	background: white;
	top: 0;
	left: 0;
	right: 0;
}
.g-fixed { //默认 有动画 下到上
	position: fixed;
	width: 100%;
	z-index: 12;
	background: white;
	bottom: 0;
	left: 0;
	right: 0;
	// margin: 0 auto;
	animation: g-slideUpEnter .5s ease;
}

.g-fixed-top {
	position: fixed;
	width: 100%;
	z-index: 12;
	background: white;
	top: 0;
	left: 0;
	right: 0;
	// margin: 0 auto;
	animation: g-slideDownEnter .5s ease;
}
.g-fixed-mid {
	position: fixed;
	z-index: 50;
	background: white;
	left: 50%;
	top: 50%;
	width: 550px;
	border-radius :8px;
	transform: translate(-50%,-50%) scale(1, 1);
	animation: g-zoomEnter .2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
/**
 * 特殊时候用
 */
.g-reset-fixed-mid-hack{
	position: fixed;
	z-index: 3000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.g-fixed-mid-hack{
	// position: fixed;
	position: relative;
	z-index: 3001;
	background: white;
	// left: 50%;
	// top: 50%;
	width: 550px;
	height: auto;
	border-radius :8px;
	// transform: translate(-50%,-50%) scale(1, 1);
	animation-fill-mode: both; // 以动画最终值展示
	animation: iOSHackZoomEnter .2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

@keyframes iOSHackZoomEnter {
	0% {
		opacity: 0;
		transform-origin: 50% 50%;
		transform: scale(0, 0);
	}
	100% { // 最终形态
		opacity: 1;
		transform-origin: 50% 50%;
		transform: scale(1, 1);
	}
}
@mixin formatResize($scale) {
	p.g-close-position {
		position: relative;
		line-height: 72px / $scale;
		font-size: 30px / $scale;
		text-align: center
	}
	p.g-close-position i {
		position: absolute;
		top: 0;
		right: 20px / $scale;
	}
	/**
	 * 表单
	 */
	.g-form{
		width: 100%;
		background: white;
		.__item{
			display:flex;
			align-items: center;
			margin: 0 20px / $scale;
			line-height: 80px / $scale;
			border-bottom: 1px solid #efeff4;
			&:last-child{
				border-bottom: none;
			}
			input{
				flex: 1;
				color: #9c9c9c;
			}
			label{
				flex: 0 0 160px / $scale;
			}
		}
		.__none{
			margin:0;
		}
		button{
			padding: 0;
			margin: 0;
			color: white;
			background: #fe9053;
			justify-content: center;
			line-height: 80px / $scale;
			border-radius: 0px;
			font-size: 26px / $scale;
			width: 100%;
		}
	}
	/**
	 * 链接跳转
	 */
	.g-link-base{
		display: flex;
		box-sizing: border-box;
		background: white;
		padding: 20px / $scale;
		border-bottom: 1px solid #efeff4;
		align-items: center;
		color: #333333;
		justify-content: space-between;
		>:last-child{
			color: #a2a2a2;
		}
		&.none{
			border-bottom: none
		}
	}
	/**
	 * 跳转
	 */
	.g-link{
		display: flex;
		box-sizing: border-box;
		background: white;
		padding: 20px / $scale;
		border-bottom: 1px solid #efeff4;
		align-items: center;
		color: #333333;
		font-size: 28px / $scale;
		i:first-child{
			border-radius: 100%;
			width:40px / $scale;
			height:40px / $scale;
			text-align: center;
			margin-right: 20px / $scale;
			color: white;
		}
		>:nth-last-child(2){
			flex: 1;
			text-align: right;
			padding-right:  20px / $scale;
			color: #999999;
		}

		>:last-child{
			color: #a2a2a2;
		}
		&.none{
			border-bottom: none
		}
	}
	/**
	 * 基本的调整
	 */
	.g-img-40{
		max-width: 40px / $scale !important;
		width: 40px / $scale !important;
		height: 40px / $scale !important;
		line-height: 40px / $scale !important;
	}
	.g-img-60 {
		max-width: 60px / $scale !important;
		width: 60px / $scale !important;
		height: 60px / $scale !important;
		line-height: 60px / $scale !important;
	}
	.g-img-80 {
		max-width: 80px / $scale !important;
		width: 80px / $scale !important;
		height: 80px / $scale !important;
		line-height: 80px / $scale !important;
	}
	.g-img-100 {
		max-width: 100px / $scale !important;
		width: 100px / $scale !important;
		height: 100px / $scale !important;
		line-height: 100px / $scale !important;
	}
	.g-img-110 {
		max-width: 110px / $scale !important;
		width: 110px / $scale !important;
		height: 110px / $scale !important;
	}
	.g-img-120 {
		max-width: 120px / $scale !important;
		width: 120px / $scale !important;
		height: 120px / $scale !important;
		line-height: 120px / $scale !important;
	}
	.g-img-140 {
		max-width: 140px / $scale !important;
		width: 140px / $scale !important;
		height: 140px / $scale !important;
		line-height: 140px / $scale !important;
	}
	.g-img-160 {
		max-width: 160px / $scale !important;
		width: 160px / $scale !important;
		height: 160px / $scale !important;
		line-height: 160px / $scale !important;
	}
	.g-img-170 {
		max-width: 170px / $scale !important;
		width: 170px / $scale !important;
		height: 170px / $scale !important;
		line-height: 170px / $scale !important;
	}
	/**
	 * 按钮 + -
	 */
	.g-btn-step {
		width: 70px / $scale;
		height: 50px / $scale;
		line-height: 50px / $scale;
		border-radius: 6px / $scale;
		border: 2px / $scale solid #e6e9ed;
		text-align: center;
		color: #333 / $scale;
		float: left;
	}
	.g-btn-step-1 {
		width: 50px / $scale;
		height: 50px / $scale;
		line-height: 50px / $scale;
		border-radius: 100%;
		border: 2px / $scale solid #5da6ea;
		text-align: center;
		color: #5da6ea;
		float: left;
		font-size: 50px / $scale;
	}
	.g-btn-step:active {
		background: #eee !important;
	}
	.g-btn-input {
		width: 100px / $scale;
		height: 50px / $scale;
		text-align: center;
		border: 2px / $scale solid #e6e9ed;
		-webkit-appearance: none;
		appearance: none;
		float: left;
	}
	/**
	 * 弹窗按钮,背景自己添加
	 */
	.g-btn-modal {
		padding-bottom: 20px;
		:nth-child(1){
			margin-right: 30px;
		}
		span{
			display: inline-block;
			width: 200px;
			line-height: 72px;
			border-radius: 36px;
			text-align: center;
		}
	}
	/**
	 * 大的按钮
	 */
	.g-btn-white {
		display: block;
		color: #000;
		background-color: #fff;
		margin: auto;
		width: 80%;
		padding: 20px / $scale;
		font-size: 28px / $scale;
		border-radius: 44px / $scale;
		text-align: center;
	}
	.g-btn-gray {
		display: block;
		color: #fff;
		background-color: #ddd;
		margin: auto;
		width: 80%;
		padding: 20px / $scale;
		font-size: 28px / $scale;
		border-radius: 44px / $scale;
		text-align: center;
	}
	.g-btn-orange {
		display: block;
		color: #fff;
		background-color: #fe9053;
		margin: auto;
		width: 80%;
		font-size: 28px / $scale;
		padding: 20px / $scale;
		border-radius: 44px / $scale;
		text-align: center;
	}
	.g-btn-blue {
		display: block;
		color: #fff;
		background-color: #4199eb;
		margin: auto;
		width: 80%;
		font-size: 28px / $scale;
		padding: 20px / $scale;
		border-radius: 44px / $scale;
		text-align: center;
	}
	.g-btn-pink {
		display: block;
		color: #fff;
		background-color: #fa5a6e;
		margin: auto;
		width: 80%;
		font-size: 28px / $scale;
		padding: 20px / $scale;
		border-radius: 44px / $scale;
		text-align: center;
	}
	/**
	 * 小提示按钮btn，比如[首进]
	 */
	.g-btn-tip {
		line-height: 30px / $scale;
		font-size: 22px / $scale;
		padding: 4px / $scale 10px / $scale;
		border-radius: 30px / $scale;
		// 新增 by zrd 2017年8月31日 14:23:25
		margin-top: 3px / $scale;
		margin-bottom: 3px / $scale;
	}
	/**
	 * 小提示按钮btn带边框
	 */
	.g-btn-tip-red {
		line-height: 30px / $scale;
		font-size: 22px / $scale;
		padding: 4px / $scale 6px / $scale;
		border-radius: 4px / $scale;
		border: 1px solid #e53a4a;
		color: #e53a4a;
	}
	.g-btn-tip-blue {
		@extend .g-btn-tip-red;
		border-color: #4199eb;
		color: #4199eb;
	}
	/**
	 * 按钮btn，比如[确认收货]
	 */
	.g-btn-edit {
		line-height: 34px / $scale;
		height: 56px / $scale;
		padding: 10px / $scale 24px / $scale;
		color: #666666;
		font-size: 28px / $scale;
		border: solid 1px #e8e8e8;
		border-radius: 30px / $scale;
		// 新增 by zrd 2017年8月31日 14:23:25
		margin-top: 3px / $scale;
		margin-bottom: 3px / $scale;
	}
	/**
	 * 按钮btn
	 */
	.g-btn-edit.active {
		color: #fe9053;
		border: solid 1px #fe9053;
		border-radius: 30px / $scale;
	}
	/**
	 * g-tabs
	 */
	.g-tabs{
	    display: flex;
		box-sizing: border-box;
		align-items: center;
		:nth-child(2){
			width: 30px / $scale;
		    height: 30px / $scale;
		    line-height: 30px / $scale;
		    margin-top: -30px / $scale;
		    margin-left: 4px / $scale;
		    text-align: center;
		    border-radius: 100%;
		    background: #fa5a6e;
		    color: white;
		    font-size: 20px / $scale;
		}
	}
	/**
	 * tip-rotate
	 */
	.g-tip{
		transform: rotate(45deg);
		width: 160px / $scale;
		color: white;
		text-align: center;
		margin-right: -85px / $scale;
		font-size: 21px / $scale;
		padding-right: 32px / $scale;
	}
}

@include formatResize(1);
.g-init-echart {
	@include formatResize(2);
}


/**
 * 动画
 */
.g-zoom-enter{
	opacity: 0;
	animation-duration: .2s;
	animation-fill-mode: both;
	// animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
	animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
	// animation-play-state: paused;
	// 可以转化未&.__active{}
	animation-name: g-zoomEnter;
	animation-play-state: running;
}

@keyframes g-zoomEnter {
	0% {
		opacity: 0;
		// transform-origin: 50% 50%;
		transform: translate(-50%,-50%) scale(0, 0);
	}
	100% { // 最终形态
		opacity: 1;
		// transform-origin: 50% 50%;
		transform: translate(-50%,-50%) scale(1, 1);
	}
}

.g-zoom-leave {
	animation-duration: .2s;
	animation-fill-mode: both;
	// animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
	animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
	// animation-play-state: paused;
	// 可以转化未&.__active{}
	animation-name: g-zoomLeave;
	animation-play-state: running;
}
@keyframes g-zoomLeave {
	0% {
		opacity: 1;
		// transform-origin: 50% 50%;
		transform: scale(1, 1);
	}
	100% { // 最终形态
		opacity: 0;
		// transform-origin: 50% 50%;
		transform: scale(0, 0);
	}
}

// 下到上
.g-slide-up-enter {
	transform: translate(0, 100%);
	animation-duration: .5s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
	// animation-play-state: paused;
	// 可以转化未&.__active{}
	animation-name: g-slideUpEnter;
	animation-play-state: running;
}


@keyframes g-slideUpEnter {
	0% {
		transform: translate(0, 100%);
	}
	100% { // 最终形态
		transform: translate(0, 0);
	}
}

.g-slide-up-leave {
	animation-duration: .5s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
	// animation-play-state: paused;
	// 可以转化未&.__active{}
	animation-name: g-slideUpLeave;
	animation-play-state: running;
}

@keyframes g-slideUpLeave {
	0% {
		transform: translate(0, 0);
	}
	100% { // 最终形态
		transform: translate(0, 100%);
	}
}
// 上到下
.g-slide-down-enter {
	transform: translate(0, -100%);
	animation-duration: .5s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
	// animation-play-state: paused;
	// 可以转化未&.__active{}
	animation-name: g-slideDownEnter;
	animation-play-state: running;
}


@keyframes g-slideDownEnter {
	0% {
		transform: translate(0, -100%);
	}
	100% { // 最终形态
		transform: translate(0, 0);
	}
}

.g-slide-down-leave {
	animation-duration: .5s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
	// animation-play-state: paused;
	// 可以转化未&.__active{}
	animation-name: g-slideDownLeave;
	animation-play-state: running;
}

@keyframes g-slideDownLeave {
	0% {
		transform: translate(0, 0);
	}
	100% { // 最终形态
		transform: translate(0, -100%);
	}
}
.g-fade-enter{
	opacity: 0;
	animation-duration: .2s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
	// animation-play-state: paused;
	// 可以转化未&.__active{}
	animation-name: g-fadeEnter;
	animation-play-state: running;
}


@keyframes g-fadeEnter {
	0% {
		opacity: 0;
	}
	100% { // 最终形态
		opacity: 1;
	}
}

.g-fade-leave {
	animation-duration: .2s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
	// animation-play-state: paused;
	// 可以转化未&.__active{}
	animation-name: g-fadeLeave;
	animation-play-state: running;
}

@keyframes g-fadeLeave {
	0% {
		opacity: 1;
	}
	100% { // 最终形态
		opacity: 0;
	}
}


.g-rotate-90 {
	transform: rotate(90deg);
}
